<% if (locals.answer) { %>
<div class="data">
    <div class="row"><span class="bold">ip address:</span>  <%= answer.ipaddress %> </div>
    <div class="row"><span class="bold">language: </span> <%= answer.language%> </div> 
    <div class="row"><span class="bold">software:</span>  <%= answer.software%> </div> 

</div>
<% } %>