
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #222;	
	background-color: #f9f4f4;
/* 	line-height: 2rem; */
	height: 100vh;
	width: 100vw;	
}

.container {
	margin-top: 3rem;
	padding: 0;
}

h1{
	margin-bottom: 5rem;
}

.footer {
	position:fixed;
	bottom: 0;
	background-color: #6d6767;
	width: 100vw;
	color: white;
	padding: 0.5rem;
}
ul, li, a{
	text-decoration: none;
	list-style-type: none;
}
.dark{
	color:black ;
}

nav{
	background-color: #afa7a7;
	width: 200px;
	color: white;
	text-align: left;
	height: 100vh;
	padding-top: 3rem;
	padding-left: 2rem;
}
code {
  font-family: monospace;
}

a {
	color: white;
}
.bold{	
	font-weight: 600;
}
.data{
	line-height: 3rem;
	text-align: left;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.grid.row{
	display: grid;
	grid-template-columns: auto auto;
	text-align: left;
	column-gap: 7%;
	justify-content: flex-start;
}
.column{
	/* display: flex;
	flex-direction: column; */
	line-height: 3rem;
}