
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #222;
	
	background-color: #dcd5d5;
/* 	line-height: 2rem; */
	height: 100vh;
	width: 100vw;
	
}

.container {
	padding: 2rem;
	margin: 0;
}

h1{
	text-align: center;
	margin-bottom: 5rem;
}

h3 {
  margin-top: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #6d6767;
	width: 100vw;
	color: white;
	padding: 1rem;
}
ul, li, a{
	text-decoration: none;
	list-style-type: none;
}
nav{
	padding: 1rem;
	background-color: #afa7a7;
	width: 100vw;
	color: white;
}
code {
  font-family: monospace;
}

a {
	color: #242c31;
	margin-right: 3rem;
}
.bold{
	font-size: larger;
	font-weight: 600;
	margin-right: 2rem;

}
.data{
	line-height: 3rem;
	text-align: left;
	padding: 0 2rem;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 3rem;
}